html, body {
    height: 100%;
    margin-top: -1px; 
    margin-bottom:-1px;
    margin-right:-10px;
    margin-left:-1px;    padding-top: 70px;
        
}html.main{    padding: 0;}
body.main{    padding: 0;}
.panel {
    height: 100%;
    width: 100%; 

    padding-top: 120px; 

}  .jumbotron{    color:#F2F2F2;    /*position:fixed;*/}
#first, .jumbotron{ 
    background-image: url("../assets/Network-Server-Room.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    padding-top: 0px; /*overrides .panel */
}
#displayName {
    position: relative;
    top: 60%;
     display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 6vh;
    /*font-size: 500%;*/
    color:#F2F2F2;
}

.title {
   font-size: 250%;
   display: block;
   font-family: 'Raleway', sans-serif;

}
.subTitle {
   font-size: 200%;  
   display: block;
   font-family: 'Raleway', sans-serif;

}
.list-group { 
    max-height: 500px;
    overflow:auto;
}
.input-group-addon {
    min-width:160px;
    text-align:left;
}
.txt {
    font-size: 150%; 
   /* font-size: 175%;*/
   display: block;
   font-family: 'Raleway', sans-serif;
}  
.productivity  { 
    background-color: #FCFCFC;
 
} 
 .data  {
    background-color: #FAFAFA; 

}
 .model {
    background-color: #F2F2F2;

}
.disclaimer {
    position:fixed;
    top:189px;
    left:30px;
    max-width:100px;
}
 
#menuContainer{
    padding:0;
    min-width:100px;
}
.links{ 
    position: relative;
    list-style: none;
    padding-bottom: 15px;
    padding-left:  
    top: 0px;
    opacity:0;
    text-align: left;
}

@keyframes drop {
  from { 
    top: -50px;
  }
  to {
    top: 50px;
    animation-timing-function: ease-out;
  }
}

#navElement{
    
    left: 85%;
    padding-top:10px;
    position:fixed;
    min-height:50px;
    width:50px;
    z-index:999;
    opacity:1;
}
#navBox {
    fill: #F2F2F2;
}